include blocks/head
	block content
	include blocks/header
	.clear

	include blocks/top__analytic
	.clear

	include blocks/section--2__analytic
	.clear

	include blocks/after-partners
	.clear

	include blocks/command
	.clear

	include blocks/feedback
	.clear

	include blocks/integer
	.clear

	include blocks/section--form
	.clear

	include blocks/footer
	.clear