include blocks/head
	block content
	include blocks/header
	.clear

	include blocks/top__b24
	.clear

	include blocks/section--2
	.clear

	include blocks/section--result
	.clear

	include blocks/section--projects
	.clear

	include blocks/section--partners
	.clear

	include blocks/section--form
	.clear

	include blocks/footer
	.clear