include blocks/head
	block content
	include blocks/header
	.clear

	include blocks/top__index
	.clear

	include blocks/increase__sales
	.clear

	include blocks/landing
	.clear

	include blocks/rates
	.clear

	include blocks/section--form__transparent
	.clear

	include blocks/footer
	.clear