include blocks/head
	block content
	include blocks/header
	.clear

	#services.srv
		.wrapper__medium
			h4
				|	Услуги
			br
			br
			h5
				| Работаем на разных этапах жизни бизнеса, на всех этапах воронки продаж. Внедряем сквозную аналитику по бизнес-показателям, ведём рекламные кампании, делаем SEO, создаём и развиваем сайты, повышаем эффективность отделов продаж. Увеличиваем продажи через интернет, снижаем стоимость привлечения клиента. Работаем на результат.
		.wrapper
			nav#navigation
				a(href="#first")
					p.nav__header  Комплексные услуги
					p Работаем комплексно над проблематикой клиента. Одновременно внедряем новые зоны и отлаживаем проблемные. Работаем системно для достижения наибольшего результата. Это верный подход, приводящий к прогнозируемым результатам.
				a(href="#second")
					p.nav__header Отраслевые комплексные услуги
					p Работаем комплексно над проблематикой клиента. Одновременно отлаживаем новые зоны и прорабатываем текущие. улучшаем все зоны и процессы для достижения наибольшего результата. Работаем выделенными командами. Это верный подход, приводящий к прогнозируемым результатам
				a(href="#third")
					p.nav__header Отдельные услуги
					p Создаём и развиваем сайты и интернет-магазины, делаем SEO, запускаем и ведём рекламные кампании, проводим аудит и готовим стратегию интернет-продаж, внедряем бизнес-аналитику и СРМ-системы.
		.big__arrow
		#first.wrapper__medium
			h2
				| Специализируемся на комплексном подходе по построению продаж через интернет
			br
			h5
				| Погружаемся в бизнес, анализируем процессы на любом этапе их выполнения, понимаем, что не так, предлагаем решения исходя из проблем, отталкиваемся от первостепенных задач, сосредотачиваемся на достижении результата, всё контролируем и предоставляем отчётность в процессе работы
		.wrapper.internet-sales
			article
				p.article__header Продажи и CRM 
				p  Внедряем СРМ-систему Битрикс24, автоматизируем рутинные процессы. Обучаем.
			article
				p.article__header Автоматизация работы компании
				p  Внедряем сквозную аналитику в ваш бизнес, собираем все данные по рекламным источникам воедино, отслеживаем эффективность рекламных каналов. Никаких метрик, только реальные бизнес-показатели.
			article
				p.article__header Работа с данными
				p Внедряем сквозную аналитику в ваш бизнес, собираем все данные по рекламным источникам воедино, отслеживаем эффективность рекламных каналов. Никаких метрик, только реальные бизнес-показатели.
			article
				p.article__header Сайты и их развитие
				p Разрабатываем сайты и магазины на 1С-Битрикс, принимаем на поддержку и развиваем, повышая конверсию.
				a(href="http://itcdevel.ru/services/veb-razrabotka/") http://itcdevel.ru/services/veb-razrabotka/ 
			article
				p.article__header Привлечение клиентов
				p Запускаем рекламу контекстную, таргетированную и в соц. сетях, делаем СЕО.
				a(href="http://itcdevel.ru/services/privlechenie-klientov/") http://itcdevel.ru/services/privlechenie-klientov/
			article
				p.article__header Маркетинг
		.big__arrow
		#second.wrapper__medium
			h2
				| Отраслевые комплексные проекты построения продаж
			br
		.wrapper.internet-sales
			article
				p.article__header Интернет-магазинам
				p Создаём и развиваем интернет-магазины, автоматизируем их работу за счет различных интеграций. Понимаем механики интернет-продаж. Повышаем конверсию на всех этапах — от привлечения до продажи и повторной продажи. Работаем со всеми каналами привлечения — SEO, контекст, ретаргетинг, таргетинговая реклама в соц. сетях.
			article
				p.article__header Оптовым и розничным компаниям
				p Работаем комплексно над проблематикой клиента. Одновременно отлаживаем новые зоны и прорабатываем текущие. улучшаем все зоны и процессы для достижения наибольшего результата. Работаем выделенными командами. Это верный подход, приводящий к прогнозируемым результатам
			article
				p.article__header Сфере услуг
				p Строим отчётность по всей воронке: от обращения до продажи. Это позволяет эффективно управлять бюджетами рекламных каналов и постепенно снижать стоимость привлечения клиента. Настраиваем работу отдела продаж: внедряем CRM, обучаем, строим системы мотивации и контроля.
			article
				p.article__header Гос.учреждениям
				p Создаем сайты государственных органов на 1С-Битрикс, соответствующие законодательству. А также реставрируем и дорабатываем сайты согласно требованиям законодательства, в том числе делаем версию для слабовидящих, мобильную версию, онлайн-приемную и т.д.
			article
				p.article__header Микро-бизнесу
				p  Помогаем микро-компаниям и начинающим предпринимателям запустить и развить продажи с помощью передовых интернет-технологий и посильных инвестиций. 
			article
		.big__arrow
		#third.wrapper__medium
			h2
				| Отдельные услуги
			br
			h5
				| Контролируете маркетинг самостоятельно? Вам нужны специалисты на аутсорсе, способные профессионально решить точечные задачи? Мы готовы к диалогу! Отдельными услугами занимаются те же специалисты, которые помогают командам на комплексных проектах
		.wrapper.internet-sales
			article
				p.article__header Продажи и CRM
				p Внедрение CRM-системы для отдела продаж
					br
					|	Внедрение СРМ-системы под ключ
					br
					|	Внедрение CRM-систем для компаний с сетями дилеров\
			article
				p.article__header Автоматизация работы компании
				p Интеграция Битрикс24 с интернет-магазином (сайтом) и бизнесом
					br
					| Интеграция Битрикс24 с IP-телефонией
					br
					|	Автоматизация работы компании (СРМ + Сайт + 1С Телефония + Роистат и т.д.)
			article
				p.article__header Отчётность
				p  Внедрение сквозной бизнес-аналитики
					br
					| Интеграция сквозной аналитики с СРМ-системой
			article
				p.article__header Сайт
				p Заказная веб-разработка
					br
					| Создание корпоративного сайта
					br
					| Создание интернет-магазина
					br
					| Разработка лендинг пейдж
					br
					| Сайт гос.органов
					br
					| Каталог готовых сайтов
			article
				p.article__header Поддержка и развитие сайтов
				p Администрирование сайта
					br
					| Мобильная версия сайта
					br
					| Версия для слабовидящих
					br
					| Перенос сайта на 1С-Битрикс
					br
					| Интеграция интернет-магазина на 1С-Битрикс с 1С
			article
				p.article__header Реклама
				p SEO-оптимизация и продвижение сайта
					br
					| SEO-оптимизация и продвижение интернет-магазинов
					br
					| Контекстная реклама (Яндекс.Директ)
					br
					| Ремаркетинг
					br
					| Таргетированная реклама
			article
				p.article__header Аудит и экспертиза
				p Технический аудит сайта
					br
					| Поисковый аудит сайта
					br
					| Анализ юзабилити сайта
					br
					| Аудит контекстной рекламы
			article
				p.article__header 
			article
				p 
		.big__arrow


	include blocks/section--form__transparent
	.clear

	include blocks/footer
	.clear

script(type='text/javascript').
	$(document).ready(function(){
	$("#navigation").on("click","a", function (event) {
	event.preventDefault();
	var id  = $(this).attr('href'),
	top = $(id).offset().top - 30;
	$('body,html').animate({scrollTop: top}, 1500);
	});
	});
