section.partners
	h3
		| Сертифицированные партнеры
	.wrapper
		a(href="#")
			img(src="img/partner-1.jpg", alt="")
		a(href="#")
			img(src="img/partner-2.jpg", alt="")
		a(href="#")
			img(src="img/partner-3.jpg", alt="")
.after-partners
	.after-partners__wrapper
		article
			img(src="img/art-1.jpg")
			br
			p.font__tac
				|	Цена на 30% ниже за счет
				br
				|	удаленной работы
		article
			img(src="img/art-2.jpg")
			br
			p.font__tac
				|	Цена на 30% ниже за счет
				br
				|	удаленной работы
		article
			img(src="img/art-3.jpg")
			br
			p.font__tac
				|	Цена на 30% ниже за счет
				br
				|	удаленной работы