section.command
	h3
		|	Наша команда сертифицированных специалистов:
	.wrapper
		br
		.owl-carousel.slide-three
			.item
				img(src="img/sert.jpg")
			.item
				img(src="img/sert.jpg")
			.item
				img(src="img/sert.jpg")
			.item
				img(src="img/sert.jpg")
			.item
				img(src="img/sert.jpg")
			.item
				img(src="img/sert.jpg")
			.item
				img(src="img/sert.jpg")
			.item
				img(src="img/sert.jpg")
			.item
				img(src="img/sert.jpg")