section.feedback
	.wrapper
		h3
			|	Отзывы о нашей работе
		br
		.owl-carousel.slide-two
			.item.feedback--item
				p.feedback--item__header
					|	Анохин Денис Александрович
				p
					|	Генеральный директор компании  «Экспертный центр
					br
					|	«Технология»
					br
				a.font__tdu(href="http://пожэксперт.рф") пожэксперт.рф
				br
				br
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi quia molestias at, rerum corporis hic. Quae dolorem delectus possimus quisquam iure aspernatur nisi modi tempore corporis commodi, labore accusamus, omnis.
			.item.feedback--item
				p.feedback--item__header
					|	Анохин Денис Александрович
				p
					|	Генеральный директор компании  «Экспертный центр
					br
					|	«Технология»
					br
				a.font__tdu(href="http://пожэксперт.рф") пожэксперт.рф
				br
				br
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi quia molestias at, rerum corporis hic. Quae dolorem delectus possimus quisquam iure aspernatur nisi modi tempore corporis commodi, labore accusamus, omnis.
			.item.feedback--item
				p.feedback--item__header
					|	Анохин Денис Александрович
				p
					|	Генеральный директор компании  «Экспертный центр
					br
					|	«Технология»
					br
				a.font__tdu(href="http://пожэксперт.рф") пожэксперт.рф
				br
				br
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi quia molestias at, rerum corporis hic. Quae dolorem delectus possimus quisquam iure aspernatur nisi modi tempore corporis commodi, labore accusamus, omnis.
			.item.feedback--item
				p.feedback--item__header
					|	Анохин Денис Александрович
				p
					|	Генеральный директор компании  «Экспертный центр
					br
					|	«Технология»
					br
				a.font__tdu(href="http://пожэксперт.рф") пожэксперт.рф
				br
				br
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi quia molestias at, rerum corporis hic. Quae dolorem delectus possimus quisquam iure aspernatur nisi modi tempore corporis commodi, labore accusamus, omnis.
			.item.feedback--item
				p.feedback--item__header
					|	Анохин Денис Александрович
				p
					|	Генеральный директор компании  «Экспертный центр
					br
					|	«Технология»
					br
				a.font__tdu(href="http://пожэксперт.рф") пожэксперт.рф
				br
				br
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi quia molestias at, rerum corporis hic. Quae dolorem delectus possimus quisquam iure aspernatur nisi modi tempore corporis commodi, labore accusamus, omnis.
			.item.feedback--item
				p.feedback--item__header
					|	Анохин Денис Александрович
				p
					|	Генеральный директор компании  «Экспертный центр
					br
					|	«Технология»
					br
				a.font__tdu(href="http://пожэксперт.рф") пожэксперт.рф
				br
				br
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi quia molestias at, rerum corporis hic. Quae dolorem delectus possimus quisquam iure aspernatur nisi modi tempore corporis commodi, labore accusamus, omnis.