section.increase__sales
	.increase__sales__header
		.wrapper
			.h.h2
				|	Почему наши страницы способны 
			.h.h3
				|	увеличить продажи в 1,5 и более раз?
	.increase__sales__rotate
		.wrapper__small
			section.sales
				img.icon(src="img/icon-1.png")
				article
					img(src="img/ill1.png")
					.sales--text
						p.sales--text__header
							|	1. Создаем инструмент продаж
						br
						p 
							|Перед началом работ проведем анализ вашего бизнеса. 
							br
							|	Изучим конкурентов, текущий сайт и
							br
							|	сделаем страницу лучше и эффективнее.
			section.sales
				article
					.sales--text
						img.icon(src="img/icon-2.png")
						p.sales--text__header
							|	1. Создаем инструмент продаж
						br
						p
							|Перед началом работ проведем анализ вашего бизнеса. 
							br
							|	Изучим конкурентов, текущий сайт и
							br
							|	сделаем страницу лучше и эффективнее.
					img(src="img/ill2.png")
			section.sales
				article
					img(src="img/ill3.png")
					.sales--text
						img.icon.fr(src="img/icon-3.png")
						.clear
						p.font__tar.sales--text__header
							|	1. Создаем инструмент продаж
						br
						p.font__tar 
							|Перед началом работ проведем анализ вашего бизнеса. 
							br
							|	Изучим конкурентов, текущий сайт и
							br
							|	сделаем страницу лучше и эффективнее.