section.integer
	h3
		|	Интегрируем с
	.wrapper
		img(src="img/amocrm.jpg")
		img(src="img/amocrm.jpg")
		img(src="img/amocrm.jpg")
		img(src="img/amocrm.jpg")
		img(src="img/amocrm.jpg")
		img(src="img/amocrm.jpg")
		img(src="img/amocrm.jpg")
		img(src="img/amocrm.jpg")
		img(src="img/amocrm.jpg")
		img(src="img/amocrm.jpg")
		img(src="img/amocrm.jpg")
		img(src="img/amocrm.jpg")
		img(src="img/amocrm.jpg")
		img(src="img/amocrm.jpg")
		img(src="img/amocrm.jpg")
		img(src="img/amocrm.jpg")
		img(src="img/amocrm.jpg")
		img(src="img/amocrm.jpg")
		img(src="img/amocrm.jpg")
		img(src="img/amocrm.jpg")
		img(src="img/amocrm.jpg")
		img(src="img/amocrm.jpg")
		img(src="img/amocrm.jpg")
		img(src="img/amocrm.jpg")
		img(src="img/amocrm.jpg")