section.landing
	h4
		|	Лендинг пейдж идеально подходит для:
	.landing__wrapper
		.wrapper
			.landing--masonry
				img(src="img/l-1.jpg")
				.landing--masonry__overlay
					|	Сферы
					br
					| услуг
			.landing--masonry
				img(src="img/l-2.jpg")
				.landing--masonry__overlay
					|	Оптовой
					br
					| торговли
			.landing--masonry
				img(src="img/l-3.jpg")
				.landing--masonry__overlay
					|	Сегмента 
					br
					| B2B
			.landing--masonry
				img(src="img/l-4.jpg")
				.landing--masonry__overlay
					|	Розничных 
					br
					| компаний
			.landing--masonry
				img(src="img/l-5.jpg")
				.landing--masonry__overlay
					|	Event-агенств