br
br
br
br
br
br
section.rates
	h2
		|	Тарифы
	.wrapper
		.service
			img(src="img/price-img_1.png")
			img(src="img/price-img_2.png")
			img(src="img/price-img_3.png")
			img(src="img/price-img_4.png")
			article.service--wrapper.size__large.fl
				.service--item
					h4.font__ttu.font__bold
						|	Лайт
					br
					p
						|	Идеальное решение для быстрого старта и продаж – страница с продающим текстом и индивидуальным дизайном
					br
					button.btn.btn__radius.btn__small.btn__white.fr Заказать
					p.price.fr
						|	60 000 Р &nbsp;
					.clear
			.clear
			article.service--wrapper.size__large.fr
				.service--item
					h4.font__ttu.font__bold
						|	Лайт
					br
					p
						|	Идеальное решение для быстрого старта и продаж – страница с продающим текстом и индивидуальным дизайном
					br
					button.btn.btn__radius.btn__small.btn__white.fr Заказать
					p.price.fr
						|	60 000 Р &nbsp;
					.clear
			.clear
			article.service--wrapper.size__large.fl
				.service--item
					h4.font__ttu.font__bold
						|	Лайт
					br
					p
						|	Идеальное решение для быстрого старта и продаж – страница с продающим текстом и индивидуальным дизайном
					br
					button.btn.btn__radius.btn__small.btn__white.fr Заказать
					p.price.fr
						|	60 000 Р &nbsp;
					.clear
			.clear
			article.service--wrapper.size__large.fr
				.service--item
					h4.font__ttu.font__bold
						|	Лайт
					br
					p
						|	Идеальное решение для быстрого старта и продаж – страница с продающим текстом и индивидуальным дизайном
					br
					button.btn.btn__radius.btn__small.btn__white.fr Заказать
					p.price.fr
						|	60 000 Р &nbsp;
					.clear
			.clear