section.result
	h3
		| В результате Вы сможете:
	section.result--item
		.wrapper
			.left
				img(src="img/section-2_1.png")
			.right
				article
					.ok
					br
					h4 Собрать все данные воедино
					br
					p 
						|	Клиентская база, история работы с клиентами,
						br
						| документация, переписка и записи разговоров – 
						br
						| все в вашей CRM.
	section.result--item
		.wrapper
			.left
				article
					.ok
					br
					h4 Собрать все данные воедино
					br
					p 
						|	Клиентская база, история работы с клиентами,
						br
						| документация, переписка и записи разговоров – 
						br
						| все в вашей CRM.
			.right
				img(src="img/section-2_2.png")
	section.result--item
		.wrapper
			.left
				img(src="img/section-2_3.png")
			.right
				article
					.ok
					br
					h4 Собрать все данные воедино
					br
					p 
						|	Клиентская база, история работы с клиентами,
						br
						| документация, переписка и записи разговоров – 
						br
						| все в вашей CRM.
	section.result--item
		.wrapper
			.left
				article
					.ok
					br
					h4 Собрать все данные воедино
					br
					p 
						|	Клиентская база, история работы с клиентами,
						br
						| документация, переписка и записи разговоров – 
						br
						| все в вашей CRM.
			.right
				img(src="img/section-2_4.png")
	section.result--item
		.wrapper
			.left
				img(src="img/section-2_5.png")
			.right
				article
					.ok
					br
					h4 Собрать все данные воедино
					br
					p 
						|	Клиентская база, история работы с клиентами,
						br
						| документация, переписка и записи разговоров – 
						br
						| все в вашей CRM.