section#section-2
	.wrapper
		h3
			| Что такое внедрение CRM в Вашу компанию?
		.what-is
			article.what-is--item
				img(src="img/integer-1.jpg", alt="step")
				span 1
				p 
					|	Заполнение брифа, составление
					br
					|	списка необходимых возможностей,
					br
					|	подбор тарифа.
			.arrow
				img(src="img/next.svg", alt="next")
			article.what-is--item
				img(src="img/integer-2.jpg", alt="step")
				span 2
				p 
					|	Согласование коммерческого 
					br
					|	предложения, подписание договора.
			.arrow
				img(src="img/next.svg", alt="next")
			article.what-is--item
				img(src="img/integer-3.jpg", alt="step")
				span 3
				p 
					|	Согласование коммерческого 
					br
					|	предложения, подписание договора.
			article.what-is--item
				img(src="img/integer-4.jpg", alt="step")
				span 4
				p 
					|	Заполнение брифа, составление
					br
					|	списка необходимых возможностей,
					br
					|	подбор тарифа.
			.arrow
				img(src="img/next.svg", alt="next")
			article.what-is--item
				img(src="img/integer-5.jpg", alt="step")
				span 5
				p 
					|	Согласование коммерческого 
					br
					|	предложения, подписание договора.
			.arrow
				img(src="img/next.svg", alt="next")
			article.what-is--item
				img(src="img/integer-6.jpg", alt="step")
				span 6
				p 
					|	Согласование коммерческого 
					br
					|	предложения, подписание договора.
