section.form
	h4
		| Все еще думаете зачем Вам это?
		br
		|	Закажите бесплатную консультацию!
	.wrapper
		section
			form(action="").left
				input(type="text" placeholder="Ваше имя")
				input(type="text" placeholder="E-mail")
				input.btn(type="submit" value="Заказать")
			.right
				p
					|	У нас Вы можете купить Битрикс 24 
					br
					|	«Команда» или «Компания» на год
				br
				h4.font__tal
					|	со скидкой  20%.