section.projects
	h3
		| Проекты внедрений
	.projects--wrapper
		section.projects--item
			h4 базовый
			p
				| Настройка CRM: карточка клиента,
				br
				| статусы сделок, напоминания для
				br
				| менеджеров.
			br
			.line
			p 
				|	Настройка получения почты сотрудниками в CRM
				br
			a(href="#")
				| А так же..
			p.price
				|	29 000 &#8381; (Р)
			br
			button.btn.btn__radius.btn__large.btn__white
				|	Оставить заявку
		section.projects--item
			h4 базовый
			p
				| Настройка CRM: карточка клиента,
				br
				| статусы сделок, напоминания для
				br
				| менеджеров.
			br
			.line
			p 
				|	Настройка получения почты сотрудниками в CRM
				br
			a(href="#")
				| А так же..
			p.price
				|	29 000 &#8381; (Р)
			br
			button.btn.btn__radius.btn__large.btn__white
				|	Оставить заявку
		section.projects--item
			h4 базовый
			p
				| Настройка CRM: карточка клиента,
				br
				| статусы сделок, напоминания для
				br
				| менеджеров.
			br
			.line
			p 
				|	Настройка получения почты сотрудниками в CRM
				br
			a(href="#")
				| А так же..
			p.price
				|	29 000 &#8381; (Р)
			br
			button.btn.btn__radius.btn__large.btn__white
				|	Оставить заявку