section.partners
	h3
		| Сертифицированные партнеры
	.wrapper
		a(href="#")
			img(src="img/partner-1.jpg", alt="")
		a(href="#")
			img(src="img/partner-2.jpg", alt="")
		a(href="#")
			img(src="img/partner-3.jpg", alt="")
	.section.partners--slider
		h3
			| Ниже перечислены типичные проблемы со слов клиентов,
			br
			|	которые к нам обращаются:
		.wrapper
			.owl-carousel.slide-two
				.item
					article
						.avatar
							img(src="img/avatar1.svg", alt="")
						p
							| Данные по клиентам разбросаны по разным системам
							br
							|	Хаос полнейший! Обращения клиентов разбросаны по всей компании.
							br
							|	Есть база Excel, 1С, заявки с сайта приходят на почту, звонки частично на мобильные телефоны.
							br
							|	Вы пробовали самостоятельно ставить разные CRM системы, но до конца не разобрались как в них работать.
				.item
					article
						.avatar
							img(src="img/avatar2.svg", alt="")
						p
							| Данные по клиентам разбросаны по разным системам
							br
							|	Хаос полнейший! Обращения клиентов разбросаны по всей компании.
							br
							|	Есть база Excel, 1С, заявки с сайта приходят на почту, звонки частично на мобильные телефоны.
							br
							|	Вы пробовали самостоятельно ставить разные CRM системы, но до конца не разобрались как в них работать.
				.item
					article
						.avatar
							img(src="img/avatar3.svg", alt="")
						p
							| Данные по клиентам разбросаны по разным системам
							br
							|	Хаос полнейший! Обращения клиентов разбросаны по всей компании.
							br
							|	Есть база Excel, 1С, заявки с сайта приходят на почту, звонки частично на мобильные телефоны.
							br
							|	Вы пробовали самостоятельно ставить разные CRM системы, но до конца не разобрались как в них работать.
				.item
					article
						.avatar
							img(src="img/avatar4.svg", alt="")
						p
							| Данные по клиентам разбросаны по разным системам
							br
							|	Хаос полнейший! Обращения клиентов разбросаны по всей компании.
							br
							|	Есть база Excel, 1С, заявки с сайта приходят на почту, звонки частично на мобильные телефоны.
							br
							|	Вы пробовали самостоятельно ставить разные CRM системы, но до конца не разобрались как в них работать.
				.item
					article
						.avatar
							img(src="img/avatar1.svg", alt="")
						p
							| Данные по клиентам разбросаны по разным системам
							br
							|	Хаос полнейший! Обращения клиентов разбросаны по всей компании.
							br
							|	Есть база Excel, 1С, заявки с сайта приходят на почту, звонки частично на мобильные телефоны.
							br
							|	Вы пробовали самостоятельно ставить разные CRM системы, но до конца не разобрались как в них работать.
				.item
					article
						.avatar
							img(src="img/avatar2.svg", alt="")
						p
							| Данные по клиентам разбросаны по разным системам
							br
							|	Хаос полнейший! Обращения клиентов разбросаны по всей компании.
							br
							|	Есть база Excel, 1С, заявки с сайта приходят на почту, звонки частично на мобильные телефоны.
							br
							|	Вы пробовали самостоятельно ставить разные CRM системы, но до конца не разобрались как в них работать.
	h3
		| Официальные партнеры:
	.wrapper
		a(href="#")
			img(src="img/partner-off-1.jpg", alt="")
		a(href="#")
			img(src="img/partner-off-2.jpg", alt="")
		a(href="#")
			img(src="img/partner-off-3.jpg", alt="")