section.form.form__transparent
	h4.font__bold
		| Понравилась услуга? Пока не готовы заказать?
	h3
		|	Подпишитесь на нас!
	.wrapper
		section
			form(action="").left
				input(type="text" placeholder="Ваше имя")
				input(type="text" placeholder="E-mail")
				input.btn(type="submit" value="Заказать")
			.right
				p
					|	Мы дадим Вам доступ к 18 бонусам
					br
					|	от наших партнёров
					br
					|	(сразу, без условий)
				br
				p
					|	Вы будете в курсе наших акций и
					br
					|	сможете получить услугу
					br
					|	со скидкой (и не только эту)