section#section-2__analytic
	br
	.parallelogram
		p 
			|	Постоянно улучшаем 
			br
			|	наши результаты
		span.num 5
	.parallelogram
		p 
			|	Постоянно улучшаем 
			br
			|	наши результаты
		span.num 4
	.parallelogram
		p 
			|	Постоянно улучшаем 
			br
			|	наши результаты
		span.num 3
	.parallelogram
		p 
			|	Постоянно улучшаем 
			br
			|	наши результаты
		span.num 2
	.parallelogram
		p 
			|	Постоянно улучшаем 
			br
			|	наши результаты
		span.num 1
	br
	br
	.wrapper
		h3
			| Настройка рекламы и Сквозной аналитики
		br
		p.font__tac
			|	Мы настраиваем сложные проекты в контекстной рекламе, делаем медиамикс рекламных каналов, подключаем сквозную аналитику, делаем интеграцию CRM. Считаем все показатели - от CTR до ROI и LTV
		br
		h3
			| Услуги и стоимость
		.service
			article.service--wrapper
				.service--item
					h4.font__ttu.font__bold
						|	Пакет
						br
						| «Внедрение сложно»
					br
					p.font__taj
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed vel optio ex quod adipisci soluta, aliquid ratione doloribus expedita architecto aperiam ab omnis ullam tempora labore numquam pariatur asperiores sequi! Repudiandae inventore a consequuntur accusamus!
					br
					p.price
						|	60 000 Р
					br
					button.btn.btn__radius.btn__medium.btn__white Заказать
			article.service--wrapper
				.service--item
					h4.font__ttu.font__bold
						|	Пакет
						br
						| «Внедрение сложно»
					br
					p.font__taj
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus reiciendis culpa molestiae. Provident amet praesentium voluptatem fugiat, quaerat. Sequi ipsam dolorum blanditiis fuga repellat provident 
						br
						br
						|	labore officia assumenda dignissimos, iusto, culpa dolorem impedit dicta nihil architecto, excepturi cum ad quo necessitatibus. Nulla aliquam quidem impedit, autem, tempora quasi voluptatem accusantium.
					br
					p.price
						|	60 000 Р
					br
					button.btn.btn__radius.btn__medium.btn__white Заказать
			article.service--wrapper
				.service--item
					h4.font__ttu.font__bold
						|	Пакет
						br
						| «Внедрение сложно»
					br
					p.font__taj
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed vel optio ex quod adipisci soluta, aliquid ratione doloribus expedita architecto aperiam ab omnis ullam tempora labore numquam pariatur asperiores sequi! Repudiandae inventore a consequuntur accusamus!
					br
					p.price
						|	60 000 Р
					br
					button.btn.btn__radius.btn__medium.btn__white Заказать