section#top
	.wrapper
		h1
			| Интеграция CRM 
			span.btrx
			br
			|	в Ваш бизнес 
		h2
			|Автоматизируем бизнес-процессы и обеспечим рост
			br
			|	Вашей прибыли от 348% 
		button.fr
			|	Оставить заявку
		.clear