section#top__analytic
	.wrapper
		h1
			| Интегрируем сквозную аналитику.
			br
			|	Экономим до 67% бюджета.
		br
		h2
			|	Оставьте заявку на бесплатную демонстрацию
			br
			|	рабочего аккаунта Roistat нашей компании 348% 
		button.fr
			|	Оставить заявку
		.clear