section#index
	.wrapper
		h1
			| Эффективные 
			br
			|	продающие страницы
			br
			|	для вашего бизнеса
		br
		.size__semi
			button
				|	Заказать
			a.font__tdu(href="#") Узнать подробнее
		img(src="img/page.png") 