.font
	&__tac
		text-align center !important
	&__taj
		text-align justify !important
	&__tal
		text-align left !important
	&__tar
		text-align right !important
	&__bold
		font-weight 600 !important
	&__ttu
		text-transform uppercase !important
	&__ttn
		text-transform none !important
	&__tdu
		text-decoration underline !important
	&__tdn
		text-decoration none !important
	
		
.size
	&__full
		width 100% !important
	&__semi
		width 50% !important
	&__small
		width 33.33% !important
	&__quad
		width 25% !important
	&__large
		width 66.66% !important

.fl
	float left !important
.fr
	float right !important
.fn
	float none !important
.clear
	clear both !important