@import helpers
@import variables

/*start main*/

*
	box-sizing border-box
	
html
	font-size 1vw
	
body
	width 100%
	font-family "RobotoRegular"
	
h1
	color #fff
	font-family "RalewaySemiBold"
	font-size 45px
	font-size 2.45rem

h2
	color #fff
	font-family "RobotoMedium"
	font-size 24px
	font-size 1.25rem
	
h3
	color darkblue
	font-family "RalewaySemiBold"
	font-size 24px
	font-size 1.25rem
	text-align center
	
h4
	color red
	font-family "RalewaySemiBold"
	font-size 24px
	font-size 1.25rem
	text-align center

a
	text-decoration none
	
p
	font-family "RobotoRegular"
	font-size 18px
	font-size .95rem

img
	width 100%	
	
button
	cursor pointer
	padding 10px 0
	background-color red
	color #fff
	font-size 20px
	font-size 1.05rem
	border 1px solid red
	border-radius 3px
	min-width 280px
	min-width 14.5rem
	transition animation
	outline none 
	&:hover
		background-color red-hover
		color #ccc
		border 1px solid red-hover

.btn
	@extend button
	&__radius
		border-radius 2rem
	&__large
		width 66.66%
		margin 0 auto
		min-width 30%
	&__meduium
		width 50%
		margin 0 auto
		min-width 50%
	&__small
		width 33.33%
		margin 0 auto
		min-width 33.33%
	&__white
		border 2px solid red
		background transparent
		color red
		&:hover
			color #fff
			border 2px solid red
			background red
input
	&::placeholder
		transition animation
	&:focus
		&::placeholder
			color transparent
			
section
	padding 2rem 0

/*end main*/	

/* start blocks*/


@import "blocks/bitrix__24.styl" 
@import "blocks/analytic.styl"  
@import "blocks/index.styl" 


/*end blocks*/