@import url(http://allfont.ru/allfont.css?fonts=agency-fb-bold)
media(maxWidth)
    @media screen and (max-width: maxWidth)
        {block}
#top__analytic
	background url('../img/section--top__analytic.jpg') center no-repeat
	background-size cover
	padding-top 10rem
	padding-bottom 2rem
	button
		margin-top -3rem
		+media(960px)
			float none !important
			margin-top 1em
#section-2__analytic
	background: url('../img/an_bg.jpg') top center no-repeat
	background-size 100%
	padding-top 3.5em
	+media(768px)
		background #fff
.parallelogram
	width 40rem
	height 5.5rem
	-webkit-transform skew(35deg)
	-moz-transform skew(35deg)
	-o-transform skew(35deg)
	background red
	padding-right 2rem
	display flex	
	justify-content flex-end
	align-items center
	margin-bottom 5px
	text-shadow: 1px 1px 2px rgba(0, 0, 0, .5)
	margin-left -1rem
	+media(768px)
		width 100%
		-webkit-transform skew(0deg)
		-moz-transform skew(0deg)
		-o-transform skew(0deg)
		margin-left 0 !important
		height auto
		padding 2em
		display flex
		justify-content center
		align-items center
	&:nth-child(3)
		background #e17a7e
		margin-left 3rem
	&:nth-child(4)
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0)
		background #f4cfd1
		margin-left 7rem
		p, span
			color #5c6074
	&:nth-child(5)
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0)
		background #eee5ec
		margin-left 11rem
		p, span
			color #33425b
	&:nth-child(6)
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0)
		background #eef1f4
		margin-left 15rem
		p, span
			color #33425b
	p
		-webkit-transform skew(-35deg)
		-moz-transform skew(-35deg)
		-o-transform skew(-35deg)
		color #fff 
		text-align right
		text-transform uppercase
		font-family 'RalewaySemiBold'
		font-size 18px
		line-height: 1
		margin 0
		+media(768px)
			-webkit-transform skew(0deg)
			-moz-transform skew(0deg)
			-o-transform skew(0deg)
	.num
		-webkit-transform skew(-35deg)
		-moz-transform skew(-35deg)
		-o-transform skew(-35deg)
		text-align right
		color #fff	
		font-size 3.5rem
		font-family: 'Agency FB Bold'
		margin-left 1rem
		+media(768px)
			-webkit-transform skew(0deg)
			-moz-transform skew(0deg)
			-o-transform skew(0deg)
			font-size 6em
.service
	margin-top 2em
	display flex
	justify-content space-between
	align-items flex-start
	+media(768px)
		flex-wrap wrap
	article
		width 32%
		background linear-gradient(53deg, rgb(112,138,154) 0%, rgb(228,236,240) 100%)
		padding .7rem
		+media(768px)
			width 80%
			margin 1em auto
	&--item
		background #fff
		text-align center
		padding .8rem
		+media(768px)
			padding 2.5em
		button
			+media(1200px)
				min-width 100%
		h4
			font-size 19px
			font-family "RalewayBold"
			
.after-partners
	padding 2rem
	background url('../img/after-partners.jpg') center no-repeat
	background-size cover
	&__wrapper    
		width 95%
		max-width 1120px
		margin 0 auto
		display flex
		justify-content space-between
		align-items center
		+media(768px)
			flex-wrap wrap
	article
		display flex
		flex-direction column
		justify-content center
		align-items center
		+media(768px)
			width 80%
			margin 1em auto
	img
		height 5rem
		border-radius 50%
		width auto !important
		+media(768px)
			height auto
			width 60%
.command
	.owl-carousel 
		.owl-dot
			background #b1c4d0
			&.active
				background #c60c30
			
.feedback
	background url('../img/feedback.jpg') center no-repeat
	background-size cover
	&--item
		color #33425b
		background #fff
		padding 1rem
		a
			color #33425b
		&__header
			font-family "RalewaySemiBold"
			
.integer
	.wrapper
		display flex
		justify-content space-between
		align-items center
		flex-wrap wrap
	img
		width calc(100% / 6 - 2rem)
		margin 1rem
		+media(768px)
			width calc(100% / 3 - 2rem)