media(maxWidth)
    @media screen and (max-width: maxWidth)
        {block}
#index
	background url('../img/top__index.jpg') center no-repeat
	background-size cover
	padding-top 10rem
	padding-bottom 2rem
	.size__semi
		+media(960px)
			width 100% !important
	.wrapper
		position relative
	a
		margin-left 2rem
		color #fff
	img
		position absolute
		width auto !important
		max-width 50%
		right 0
		top -10rem
		max-height 30rem
		+media(960px)
			display none
.increase__sales
	padding-top 0
	&__header
		background linear-gradient(to bottom, rgba(241,247,249,1) 0%,rgba(211,228,235,1) 100%) 
		padding 1em 0
		box-shadow 0 0 5px 0px gray
		.h
			font-family "RalewayBold"
			font-size 30px
		.h3
			color red
	&__rotate
		background url('../img/index__rotate.jpg') center no-repeat
		background-size 100%
		+media(1200px)
			background #fff
.wrapper
	&__small
		width 95%
		max-width 880px
		margin 0 auto
.sales
	img
		&.icon
			width auto !important
	&:first-child
		.icon
			margin 0 auto
	img
		width auto !important
		display block
		+media(768px)
			width 45% !important
	article
		display flex
		justify-content space-between
		align-items center
		margin 1em 0
			
.sales--text
	margin-left 1rem
	&__header
		margin-top 1rem
		color red
		font-family 'RalewaySemiBold'
		font-size 25px

.landing
	padding 0
	&__wrapper
		margin-top 2rem
		background url('../img/landingbg.jpg') center no-repeat
		background-size cover
		+media(1300px)
			margin-bottom 3em
		+media(960px)
			margin-bottom 7em
		+media(768px)
			margin-bottom 0
	.wrapper
		display flex
		justify-content space-between
		align-items center
		+media(1024px)
			justify-content center
			flex-wrap wrap
	&--masonry
		width auto
		flex-grow 1
		position relative
		cursor pointer
		+media(1024px)
			width 30%
			flex-grow 0
			flex-shrink 1
			+media(768px)
				width 50%
			+media(480px)
				width 100%
		&:nth-child(2n)
			.landing--masonry__overlay
				top 50%
		&:hover
			.landing--masonry__overlay
				background rgba(207,41,48, .7)				
		&__overlay
			position absolute
			width 100%
			font-size 16px
			height 50%
			left 0
			top 0
			background rgba(51,66,91, .7)
			transition animation
			color #fff
			text-align center
			display flex
			justify-content center
			align-items center
			
.rates
	background url('../img/rotate-2.jpg') center no-repeat
	background-size cover
	+media(768px)
		background #fff
	h2
		color red
		font-family 'RalewayBold'
		text-align center
		margin-top -5em
		+media(768px)
			margin 0
	h4,
	p	
		text-align left
	.service
		display block
		position relative
		&--item
			padding .8rem 2rem	
		img
			+media(768px)
				display none
			&:nth-child(1)
				position absolute
				width auto !important
				left 65%
				top 0
				z-index 0
			&:nth-child(2)
				position absolute
				width auto !important
				left 5%
				top 10rem
				z-index 3
			&:nth-child(3)
				position absolute
				width auto !important
				left 70%
				bottom 250px
				z-index 0
			&:nth-child(4)
				position absolute
				width auto !important
				left -5%
				bottom 0
				z-index 3
		article
			margin 1em 0
			position relative
			z-index 1
			+media(768px)
				width 100% !important
.form
	+media(960px)
		.right
			display none
		.left
			width 100%
			input
				font-size 18px
	&__transparent
		background transparent
	p
		margin-left 2rem
		position relative
		&:first-child
			&::before
				content ''
				position absolute
				display block
				top 0
				left -2rem
				width 1.5rem
				height 1.4rem
				background url('../img/form-icon_1.jpg') center no-repeat
				background-size cover
		&:last-child
			&::before
				content ''
				position absolute
				display block
				top 0
				left -2rem
				width 1.3rem
				height 1.5rem
				background url('../img/form-icon_2.jpg') center no-repeat
				background-size cover