.wrapper
	width 95%
	max-width 1120px
	margin 0 auto

#index
	background url('../img/top__index.jpg') center no-repeat
	background-size cover
	padding-top 10rem
	padding-bottom 2rem
	.wrapper
		position relative
	a
		margin-left 2rem
		color #fff
	img
		position absolute
		width auto !important
		max-width 50%
		right 0
		top -10rem
		max-height 30rem

.increase__sales
	padding-top 0
	&__header
		background linear-gradient(to bottom, rgba(241,247,249,1) 0%,rgba(211,228,235,1) 100%) 
		padding 1em 0
		box-shadow 0 0 5px 0px gray
		.h
			font-family "RalewayBold"
			font-size 30px
			font-size 1.55rem
		.h3
			color red
	&__rotate
		background url('../img/index__rotate.jpg') center no-repeat
		background-size 100%